body { font-family: Arial; text-align:center; background:#6ec9ff; }
input,button { display:block;margin:10px auto;padding:10px;font-size:18px; }
button { background:#ff3b3b;color:white;border:none;cursor:pointer; }
